    body {
        font-family: "Open Sans", sans-serif;
        background-color: #000;
        margin: 0;
    }
    
    html,
    body {
        scroll-behavior: smooth;
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    p {
        color: #ffffff;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 1px;
    }
    
    .title-h1 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .title-h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 25px;
    }
    
    .h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        padding-bottom: 25px;
    }
    
    .h3 {
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .image_grid h3 {
        color: #ffffff;
        font-size: 15px;
        font-weight: 100;
        text-align: center;
        padding-bottom: 25px;
    }
    
    span.extra-margin {
        margin: 20px;
    }
    
    .bg {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: url("images/music.jpg") no-repeat center center;
        background-size: cover;
    }
    
    .mg {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: url("images/cover.jpg") no-repeat center center;
        background-size: cover;
    }
    
    .lg {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: url("images/oslo.jpg") no-repeat center center;
        background-size: cover;
    }
    
    .top {
        background-color: #000;
        color: #ffffff;
        width: 100%;
        height: 08vh;
        padding: 20px;
        margin: 0px;
    }
    
    header.main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .burger-icon {
        cursor: pointer;
        display: none;
        color: #ffffff;
        font-size: 30px;
    }
    
    .exit {
        display: none;
        cursor: pointer;
    }
    
    .exit i {
        color: rgb(255, 255, 255);
        font-size: 30px;
        position: absolute;
        top: 13%;
        right: 5%;
        z-index: 2;
    }
    
    nav.main-nav ul {
        display: flex;
        justify-content: space-between;
    }
    
    nav.main-nav ul li a {
        color: #ffffff;
        padding: 25px;
        text-align: right;
        font-size: 14px;
        letter-spacing: 3px;
        text-shadow: 1px 1px 1px rgb(12, 17, 24);
        transition: 0.5s ease;
    }
    
    nav.main-nav ul li a:visited {
        color: #ffffff;
    }
    
    nav.main-nav ul li a:hover {
        color: #f66767;
    }
    
    nav.main-nav ul li a:active {
        color: #ffffff;
    }
    
    .active-link {
        color: #f66767;
    }
    
    .top-main-content {
        width: 80%;
        margin: 150px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .big-text {
        width: 60%;
        padding-right: 100px;
    }
    
    .top-h1 {
        overflow: hidden;
        font-size: 45px;
        line-height: 55px;
        font-weight: 700;
        margin-bottom: 25px;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgb(12, 17, 24);
        -webkit-animation: appear 6s;
        -moz-animation: appear 6s;
        -o-animation: appear 6s;
        animation: appear 6s;
    }
    
    span.red {
        color: #f66767;
    }
    
    .cta {
        background-color: #f66767;
        padding: 10px 25px;
        border-radius: 50px;
        text-align: left;
        color: #ffffff;
        letter-spacing: 2px;
        box-shadow: 2px 2px 2px rgb(12, 17, 24);
        transition: 0.5s ease;
        -webkit-animation: appear 6s;
        -moz-animation: appear 6s;
        -o-animation: appear 6s;
        animation: appear 6s;
    }
    
    .more-margin {
        margin-left: 5px;
        margin-top: 25px;
    }
    
    .cta:hover {
        background-color: transparent;
        border: 1px solid #f66767;
        color: #f66767;
    }
    
    .social-media {
        position: absolute;
        z-index: 2;
        bottom: 30px;
        left: 5%;
    }
    
    .social-media-link i {
        color: #FF0000;
        padding: 0 7px;
        font-size: 20px;
        text-align: center;
        text-shadow: 2px 2px 2px rgb(12, 17, 24);
        transition: 0.5s ease;
    }
    
    .social-media-link i:hover {
        color: #f66767;
    }
    /*live concert*/
    
    .inner-div {
        width: 100%;
        color: #ffffff;
        margin: 20px, 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    body {
        margin: 0;
    }
    
    .image-grid {
        --gap: 16px;
        --num-cols: 4;
        --row-height: 300px;
        box-sizing: border-box;
        padding: var(--gap);
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 1fr);
        grid-auto-rows: var(--row-height);
        gap: var(--gap);
    }
    
    .image-grid>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .image-grid p {
        display: flex;
        text-transform: uppercase;
        font-size: 15px;
    }
    /*About*/
    
    .about-us {
        display: flex;
    }
    
    .about-us-text {
        flex: 1;
    }
    
    .about-us-text {
        flex: 1;
        margin-top: 16px;
        width: 340px;
        margin: 0 auto;
    }
    /*Contact*/
    
    section.contact {
        width: 80%;
        margin: 0 auto;
    }
    
    .contact-container {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }
    
    .contact-details {
        margin-right: 100px;
    }
    
    .contact-h5 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
        line-height: 30px;
    }
    
    .contact-social-media {
        margin-top: 50px;
        margin-left: -5px;
    }
    
    .map {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        height: 0;
    }
    /*footer*/
    
    footer.main-footer {
        background-color: #1c2938;
        margin-top: 25px;
    }
    
    .copyright {
        width: 90%;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
        color: #ffffff;
    }